html {
    
    background-image: url("../imagem/fundo.png");
    width: 100vw;
    height: 100vh;
    margin: 0px;
    border: 0px;
    background-size:cover;
}

#menu {

    position: fixed;
    right: 0;
    top: 50%;
    width: 8em;
    margin-top: -2.5em;
    color:whitesmoke;
}

nav a {

    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:aliceblue;
    text-decoration: none;
}

body {
      
    margin: 0px;
    border: 0px;
    overflow-x: hidden;
}

header {

    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: cyan;
    text-align: center; 
}

main {

   margin: 0px;
   border: 0px;
   text-align: center;
}

footer {

    color:red;
    background-color:black;
    font-size: 20px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

#campo {

    font-size: 20px;
    color: whitesmoke; 
    padding: 2px;
}

#check {

    font-size: 20px;
    color: whitesmoke;
    padding: 3px;
}

#resultado {

    font-size: 20px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    padding-top: 5px;  
}

#answer {

    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#video {

    padding-top: 15px;
}

button {

    color:black black;
    padding-bottom: 3px;
}

